# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*~.nib
Thumbs.db

# Preview (only for Windows testing)
preview/
*.bat
